[Unit]
Description=Rebuild built-in modules list for loaded kernel
Before=firewalld.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/rebuild-builtin-modules

[Install]
WantedBy=multi-user.target
